.option-box .color-option ul li,
.option-box .cog-check {
    background-color: #F00;
}

nav .navbar-brand span,
.about h1,
.features h2,
.features .feat svg,
.testimonials span,
.about h1 span,
.footer h3,
.footer .copyright span {
    color: #F00;
}

.dropdown-toggle:focus {
    border-bottom: 3px solid #F00;
}

.option-box .color-option,
.testimonials .carousel-indicators li.active {
    border: 3px solid #F00;
}

#scroll-top {
    color: #FFF;
    background-color: #F00;
    border: 1px solid #F00;
}

.breadcrumb-holder {
    background-color: #e9ecef;
}

.about-us h1 {
    color: #F00;
}

.about-features i {
    color: #F00;
}

.about-ceo {
    background-color: #EEE;
}

.about-ceo h2 {
    color: #F00;
}

.about-ceo .btn-primary {
    background-color: #F00;
    border-color: #F00;
    color: #FFF;
}

.about-ceo .btn-primary:hover {
    background-color: rgb(245, 116, 116);
    border-color: rgb(245, 116, 116);
}

.faq h1 {
    color: #F00;
}

.faq-questions .panel-heading a {
    color: #F00;
}